<section class="giveaway">
  <p class="giveaway-title">Giveaway</p>
  <div class="giveaway-wrapper">
    <div class="giveaway-wrapper-block__icon flex">
      <img src="web/images/giveaway/giveaway-bottle.svg" id="bottle-giveaway" alt="bottle">
      <img src="web/images/giveaway/giveaway-bottle.svg" alt="bottle">
      <img src="web/images/giveaway/giveaway-bottle.svg" id="bottle-giveaway" alt="bottle">
    </div>
    <div class="flex">
      <div class="giveaway-wrapper__paragraph">
        <p class="giveaway-wrapper-paragraph__sub">Subscription Contest</p>
        <p class="giveaway-wrapper-paragraph__potions">Magic potions </p>
        <p class="giveaway-wrapper-paragraph__conditions">Conditions</p>
      </div>
      <div class="giveaway-right__paragrpah">
        <p class="giveaway-right-paragraph__days">7 days 01:18</p>
        <div class="flex wrapper-block-giveaway">
          <img src="web/images/inventory/ton.svg" alt="ton" class="giveaway-right-paragraph__icon" width="15" height="15">
          <p class="giveaway-right-paragraph__number">5</p>
        </div>
        <p class="giveaway-right-paragraph__mail">Subscribe:<span
            class="giveaway-right-paragraph-mail__span">@nftgo</span></p>
      </div>
    </div>
    <div class="giveaway-line"></div>
    <div class="giveaway-wrapper__down flex">
      <p class="giveaway-wrapper-down__participants">Participants</p>
      <div class="giveaway-wrapper-down__block flex">
        <img src="web/images/giveaway/participants-icon.svg" alt="participants" width="15" height="15">
        <p class="giveaway-wrapper-down-block_paragraph">5048</p>
      </div>
    </div>
    <button class="giveaway-button">Participate</button>
    <p class="giveaway-last-paragraph">Last winners</p>
  </div>
</section>