<header class="header">
  <div class="main-wrapper__balance flex">
    <img src="web/images/main/logo-icon-main.svg" alt="logo" class="main-wrapper-balance__logo" />
    <div class="main-balance flex" style="cursor: pointer;">

      0.00 +
      <img src="web/images/main/ton-icon.svg" alt="Token" class="main-balance__token" />
    </div>
    <div class="modal" id="modal">
      <div class="modal__content">
        <h2 class="modal__title">Пополнение кошелька</h2>
        <button type="button" class="modal__close" id="closeModalHeaderBtn">
          &times;
        </button>

        <form class="modal-form">
          <label class="label" for="wayWallet">Выберите способ оплаты</label>
          <select name="wayWallet" id="wayWallet" required size="3">
            <option value="value2" selected>-- Выберите --</option>
            <option value="value1">TON</option>
          </select>

          <label class="label" for="sumPay">Выберите сумму оплаты</label>
          <input type="number" name="sumPay" id="sumPay" min="0" required />

          <button class="btn" type="submit">Оплатить</button>
        </form>
      </div>
    </div>
    <div class="main-wallet">
      <div id="ton-connect" class="ton-connect"></div>
      <button class="main-connect-wallet" data-lang-key="connectWallet">
        Connect Wallet
      </button>
    </div>
  </div>
</header>