<section class="main-rocket">
  <div class="main-line"></div>
  <div class="main-rocket__container flex">
    <div class="main-news flex">
      <p class="main-news__title">Check our news</p>
      <button class="main-news__button">Open</button>
    </div>
    <div class="main-network__status flex">
      <img
        src="web/images/main/wifi-icon.svg"
        alt="WiFi"
        class="main-network-status__icon"
      />
      <span class="main-network-status__span">68</span>
    </div>
  </div>
  <div class="main-coefficients flex">
    <div class="main-coefficients__coefficient">2x</div>
    <div class="main-coefficients__coefficient" id="coef-width">1.15x</div>
    <div class="main-coefficients__coefficient">2x</div>
    <div class="main-coefficients__coefficient" id="coef-width">1.15x</div>
    <div class="main-coefficients__coefficient">2x</div>
    <div class="main-coefficients__coefficient" id="coef-width">1.15x</div>
    <div class="main-coefficients__coefficient">2x</div>
  </div>
  <div class="main-line-down"></div>
  <div class="main-block-rocket">
    <img
      src="web/images/main/rocket-icon.svg"
      alt="rocket"
      class="main-block-rocket__icon"
    />
    <p class="main-block-rocket__text">
      <span class="main-block-rocket-text__span">ОЖИДАНИЕ</span><br />
      СЛЕДУЮЩЕГО РАУНДА
    </p>
    <div class="progress-container flex">
      <div class="progress-bar"></div>
    </div>
  </div>
</section>
