  <div class="backdrop is-hidden">
    <div class="modal" id="modalContent">
    <button class="modaBtn" >x</button>
      
    <h2 class="modal__title">Пополнение кошелька</h2>

    <form action="" class="modal-form">
      <label for="wayWallet">Выберите способ оплаты</label>
      <select name="wayWallet" id="select" required>         
        <option value="value2" selected>-- Выберите --</option>
         <option value="value1">TON</option>

      </select>

      <label for="sumPay">Выберите сумму оплаты</label>
      <input type="number" name="sumPay" id="sumPay" min="0" required>

      <button type="submit">Оплатить</button>
    </form>
  </div>
</div>