<div class="icon-navigation-bar">
  <button class="nav-item" id="top">
    <img src="web/images/nav-bar/top-icon.svg" alt="Top" class="nav-icon" />
    <span class="nav-text">Top</span>
  </button>
  <button class="nav-item" id="bonus">
    <img src="web/images/nav-bar/bonus-icon.svg" alt="Bonus" class="nav-icon" />
    <span class="nav-text">Bonus</span>
  </button>
  <button href="#" class="nav-item" id="rocket">
    <img src="web/images/nav-bar/rocket-icon.svg" class="nav-icon" />
    <span class="nav-text">Rocket</span>
  </button>
  <button class="nav-item" id="profile">
    <img
      src="web/images/nav-bar/profile-icon.svg"
      alt="Profile"
      class="nav-icon"
    />
    <span class="nav-text">Profile</span>
  </button>
  <button class="nav-item" id="gifts">
    <img src="web/images/nav-bar/give-away.svg" alt="Gifts" class="nav-icon" />
    <span class="nav-text">Gifts</span>
  </button>
</div>
