<section class="user-page" style="display: none;"> 
  <div class="user-page-profile">
    <img src="web/images/profile/people-icon.svg" alt="user-avatar" class="user-page-profile__avatar" />
    <div class="user-page-profile__data">
      <h2 class="user-page-profile__name">Yasha lava</h2>
      <h2 class="user-page-profile__id">User ID: 4546</h2>
    </div>
  </div>
  <div class="user-page-inv">
    <button class="user-page-inv__btn user-page-inv__btn--inv" type="button">
      <img
        src="web/images/profile/lock-icon.svg"
        alt="lock-icon"
        class="user-page-inv__icon user-page-inv__icon--lock"
      />
      <img
        src="web/images/inventory/gift.svg"
        alt="lock-icon"
        class="user-page-inv__icon user-page-inv__icon--inv"
      />
      Инвентарь
    </button>
    <button class="user-page-inv__btn user-page-inv__btn--promo" type="button">
      <img
        src="web/images/profile/promo.svg"
        alt="lock-icon"
        class="user-page-inv__icon user-page-inv__icon--promo"
      />
      Активировать промокод
    </button>
  </div>
  <div class="user-page-change-language">
    <h2 class="user-page-change-language__title">Выбрать язык</h2>
    <div class="user-page-change-language__switch">
      <button type="button" class="user-page-change-language__btn active">
        Русский
      </button>
      <button type="button" class="user-page-change-language__btn">
        English
      </button>
    </div>
  </div>
  
  <div class="user-page-game-history">
    <h3 class="user-page-game-history__title">История игр</h3>
    <div class="swiper user-page-game-history__swiper">
      <div class="swiper-wrapper user-page-game-history__swiper-wrapper">
        <div class="user-page-game-history__card swiper-slide">
          <div class="user-page-game-history__price">
            10
            <img
              src="web/images/inventory/ton.svg"
              alt="diamond"
              class="user-page-game-history__diamond"
            />
          </div>
          <div class="user-page-game-history__data">
            Telegram Wallet 29.04.2025.
          </div>
          <div
            class="user-page-game-history__coefficient win"
            data-status="win"
          >
            +20x
          </div>
        </div>
        <div class="user-page-game-history__card swiper-slide">
          <div class="user-page-game-history__price">
            10
            <img
              src="web/images/inventory/ton.svg"
              alt="diamond"
              class="user-page-game-history__diamond"
            />
          </div>
          <div class="user-page-game-history__data">
            Telegram Wallet 29.04.2025.
          </div>
          <div
            class="user-page-game-history__coefficient win"
            data-status="win"
          >
            +20x
          </div>
        </div>
        <div class="user-page-game-history__card swiper-slide">
          <div class="user-page-game-history__price">
            10
            <img
              src="web/images/inventory/ton.svg"
              alt="diamond"
              class="user-page-game-history__diamond"
            />
          </div>
          <div class="user-page-game-history__data">
            Telegram Wallet 29.04.2025.
          </div>
          <div
            class="user-page-game-history__coefficient win"
            data-status="win"
          >
            +20x
          </div>
        </div>
        <div class="user-page-game-history__card swiper-slide">
          <div class="user-page-game-history__price">
            10
            <img
              src="web/images/inventory/ton.svg"
              alt="diamond"
              class="user-page-game-history__diamond"
            />
          </div>
          <div class="user-page-game-history__data">
            Telegram Wallet 29.04.2025.
          </div>
          <div
            class="user-page-game-history__coefficient win"
            data-status="win"
          >
            +20x
          </div>
        </div>
        <div class="user-page-game-history__card swiper-slide">
          <div class="user-page-game-history__price">
            10
            <img
              src="web/images/inventory/ton.svg"
              alt="diamond"
              class="user-page-game-history__diamond"
            />
          </div>
          <div class="user-page-game-history__data">
            Telegram Wallet 29.04.2025.
          </div>
          <div
            class="user-page-game-history__coefficient win"
            data-status="win"
          >
            +20x
          </div>
        </div>
        <div class="user-page-game-history__card swiper-slide">
          <div class="user-page-game-history__price">
            10
            <img
              src="web/images/inventory/ton.svg"
              alt="diamond"
              class="user-page-game-history__diamond"
            />
          </div>
          <div class="user-page-game-history__data">
            Telegram Wallet 29.04.2025.
          </div>
          <div
            class="user-page-game-history__coefficient win"
            data-status="win"
          >
            +20x
          </div>
        </div>
        <div class="user-page-game-history__card swiper-slide">
          <div class="user-page-game-history__price">
            10
            <img
              src="web/images/inventory/ton.svg"
              alt="diamond"
              class="user-page-game-history__diamond"
            />
          </div>
          <div class="user-page-game-history__data">
            Telegram Wallet 29.04.2025.
          </div>
          <div
            class="user-page-game-history__coefficient win"
            data-status="win"
          >
            +20x
          </div>
        </div>
        <div class="user-page-game-history__card swiper-slide">
          <div class="user-page-game-history__price">
            10
            <img
              src="web/images/inventory/ton.svg"
              alt="diamond"
              class="user-page-game-history__diamond"
            />
          </div>
          <div class="user-page-game-history__data">
            Telegram Wallet 29.04.2025.
          </div>
          <div
            class="user-page-game-history__coefficient win"
            data-status="win"
          >
            +20x
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
