<section class="user-page">
  <div class="user-page-profile">
    <img alt="user-avatar" class="user-page-profile__avatar" />
    <div class="user-page-profile__data">
      <h2 class="user-page-profile__name">Test name</h2>
      <h2 class="user-page-profile__id">User ID: 1234</h2>
    </div>
  </div>
  <div class="user-page-inv">
    <button class="user-page-inv__btn user-page-inv__btn--inv" type="button" data-lang-key="inventory">
      <img
        src="web/images/profile/lock-icon.svg"
        alt="lock-icon"
        class="user-page-inv__icon user-page-inv__icon--lock"
      />
      <img
        src="web/images/inventory/gift.svg"
        alt="lock-icon"
        class="user-page-inv__icon user-page-inv__icon--inv"
      />
      Инвентарь
    </button>
    <button class="user-page-inv__btn user-page-inv__btn--promo" type="button" data-lang-key="activatePromo">
      <img
        src="web/images/profile/promo.svg"
        alt="lock-icon"
        class="user-page-inv__icon user-page-inv__icon--promo"
      />
      Активировать промокод
    </button>
  </div>
  <div class="user-page-change-language">
    <h2 class="user-page-change-language__title" data-lang-key="selectLanguage">Выбрать язык</h2>
    <div class="user-page-change-language__switch">
      <button type="button" class="user-page-change-language__btn active" data-lang="ru" data-lang-key="russian">
        Русский
      </button>
      <button type="button" class="user-page-change-language__btn" data-lang="en" data-lang-key="english">
        English
      </button>
    </div>
  </div>

  <div class="user-page-game-history">
    <h3 class="user-page-game-history__title" data-lang-key="gameHistory">История игр</h3>
    <div class="swiper user-page-game-history__swiper">
      <!-- <div class="swiper-wrapper user-page-game-history__swiper-wrapper">
        <div class="user-page-game-history__card swiper-slide">
          <div class="user-page-game-history__price">
            10
            <img
              src="web/images/inventory/ton.svg"
              alt="diamond"
              class="user-page-game-history__diamond"
            />
          </div>
          <div class="user-page-game-history__data" data-game-card-text>
            Telegram Wallet 29.04.2025.
          </div>
          <div
            class="user-page-game-history__coefficient win"
            data-status="win"
          >
            +20x
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
