@media (min-width: 310px) {
    #openModalBtn {
        margin-left: 17px;
    }
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
background: #150F27;
    overflow-x: hidden;
}

.main-wrapper {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}

.main {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
    .main-rocket {
        width: 100%;
        padding-left: 3px;
}
.main-block-rocket{
    width: calc(100% - 10px);
}
/* .main-wrapper__balance {
}
.flex {
}*/
.main-wrapper-balance__logo {
    width: 45px;
} 
.main-balance {
    margin-left: -5px;
    font-size: 15px;
    width: 90px;  
}
.main-balance__token {
    width: 17px;
    height: 27px;
}
.main-connect-wallet {
    width: 135px;
    font-size: 14px;
    margin-right: -27px;
}
.main-line {
    width: 305px;
}
.main-rocket__container {
    width: 320px;
}
.main-news {
    width: 220px;
}
.main-news__title {
    width: 200px;
}
.main-news__button {
    margin-right: 5px;
    margin-left: 0px;
}
 .main-network__status {
    width: 56px;
    padding-left: 3px;
}
/*.main-network-status__icon {
}
.main-network-status__span {
} */
/* .main-coefficients {
} */
.main-coefficients__coefficient {
    position: relative;
    right: -5px;
}

.main-line-down {
    width: 305px;
}
.main-block-rocket {
    width: 306px;
}
.main-block-rocket__icon {
    margin-left: 128px;
}
/* .main-block-rocket__text {
}
.main-block-rocket-text__span {
}
.progress-container {
}
.progress-bar {
} */

.down-main {
    width: 100%;
    max-width: 306px;
    margin: 0 auto;
    margin-left: 3px;
}

/* .bet-Toggle {
}
.bet__title {
}
.bal-inv {
} */
.bal-inv__btn {
    width: 300px;
}
.bal-inv__btn--balance {
    width: 141px;
}
/* .active {
} */
.bal-inv__icon {
    margin-left: -32px;
}
.bal-inv__btn--inventory {
    width: 141px;
}
/* .bet-switcher {
}
.bet-switcher__balance {
}
.sw {
}
.container {
}
.select-bet {
} */
.select-bet__btn {
    width: 100px;    
    padding-left: 10px;
}
.select-bet__field {
    width: 283px;

}
/* .select-bet__pages {
}
.select-bet-count {
}
.select-bet-count__btn {

}
.select-bet-count__icon {
}
.select-bet-count__icon--plus {
}
.select-bet-count__number {
}
.select-bet-count__icon--minus {
}
.select-bet-change {
}
.select-bet-change__btn {
}
.select-bet__btn {
}
.bet-switcher__inventory {
}
.inventory-skins {
}
.inventory-skins__title {
}
.inventory-skins-items {
} */
.inventory-skins-items-card {
    width: 94px;
}
.inventory-skins-items-card__current {
    width: 45px;
}
/* .inventory-skins-items-card__img {
}
.inventory-skins-items-card__title {
}
.inventory-skins-items-added {
}
.inventory-skins-items-added-card {
}
.inventory-skins-items-added-card__img {
}
.inventory-skins-items-added-card__title {
}
.bet-count {
}
.bet-count__title {
}
.swiper {
}
.bet-count__swiper {
}
.swiper-wrapper {
}
.bet-count-list {
}
.swiper-slide {
}
.bet-count-list__item {
}
.bet-count-list__profile {
}
.bet-count-list__avatar {
}
.bet-count-list__username {
}
.bet-count-list__number {
}
.bet-count-list__diamond {
} */
}